body {
    background-color: #6b6b6b;
    text-align: center;
}

.container {
    background-color: rgb(151, 151, 151);
    min-height: 200px;
    padding: 10px;
}

.calcSector {
    background-color: #c7c7c7;
    margin: 0% 20%;
    padding: 1%;
}
.flex {
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputArea {
    background-color: white;
    width: 80%;
    padding: 1%;
    margin: 1%;
}

.sign {
    min-width: 7px;
    display: inline-block;
}

.field {
    margin: 3%;
    width: 39%;
}

.button {
    background-color: #a2e1e9;
    display: inline-block;
    padding: 10px;
    width: 50px;
    margin: 1%;
}