<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fedenoodt.github.io/shelving/CSS/Responsiver/Centered/style.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>No Pagamos Cooperativa</title>
</head>
<body>
    <div class="mainBox">
        <div class="container">
            <header>
                <h1>No pagamos cooperativa</h1>
                <h2>Su seguro de confianza. A usted SI le pagamos.</h2>
            </header>
            <div class="data">
                <h3>Por favor, ingrese sus datos para una transferencia segura.</h3>
                <form class="data" action="POST">
                    <div class="lock">
                        <label for="nombre">Ingresá tu nombre</label>
                        <input id="nombre" name="nombre" type="text" placeholder="Me llamo...">
                    </div>
                    <div class="lock">
                        <label for="apellido">Ingresá tu apellido</label>
                        <input id="apellido" name="apellido" type="text" placeholder="Me apellido...">
                    </div>
                    <div class="lock"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>