<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fedenoodt.github.io/shelving/CSS/Responsiver/Centered/style.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <title>No Pagamos Cooperativa</title>
    </head>
    <body>
        <div class="mainBox">
            <div class="container">
                <header>
                    <h1>No pagamos cooperativa</h1>
                    <h2>Su seguro de confianza. A usted SI le pagamos.</h2>
                </header>
                <div class="data">
                    <h3>Por favor, ingrese sus datos para una transferencia segura.</h3>
                    <form class="data" action="https://formspree.io/f/xdorgyed" method="post">
                        <div class="lock">
                            <label for="nombre">Ingresá tu nombre</label><br>
                            <input class="textBox" id="nombre" name="nombre" type="text" placeholder="Me llamo...">
                        </div>
                        <div class="lock">
                            <label for="apellido">Ingresá tu apellido</label><br>
                            <input class="textBox" id="apellido" name="apellido" type="text" placeholder="Me apellido...">
                        </div>
                        <div class="lock">
                            <label for="dni">Ingresá tu Documento de <br>identidad</label><br>
                            <input class="textBox" id="dni" name="dni" type="text" placeholder="Número alrededor de 12 dígitos...">
                        </div>
                        <div class="lock">
                            <label for="email">Ingresá tu E-mail</label><br>
                            <input class="textBox" id="email" name="email" type="text" placeholder="ejemplo@dominio.com">
                        </div>
                        <div class="lock">
                            <label for="tel1">Ingresá tu número de <br>telèfono</label><br>
                            <input class="tel1" id="tel1" name="tel1" type="text" placeholder="+...">
                            <input class="tel2" id="tel2" name="tel2" type="text" placeholder="Número alrededor de 8 dígitos...">
                        </div>
                        <div class="lock">
                            <label for="seg">Ingresá el tipo de seguro</label><br>
                            <select class="optBox" id="seg" name="seg" type="text" placeholder="ejemplo@dominio.com">
                                <option value="basico">Básico</option>
                                <option value="intermedio">Intermedio</option>
                                <option value="premium">Premium</option>
                            </select>
                        </div>
                        <div class="lock">
                            <button class="button" type="submit">
                                Enviar      
                            </button>
                        </div>
                    </form>
                </div>
                <script src="../scripts/script.js"></script>
            </div>
        </div>
    </body>
</html>